#grid {
  display: grid;
  grid-template-rows: 45% 10% 45%;
  grid-template-columns: repeat(5, 20%);
  grid-template-areas:
    'ubRound1 ubRound2 ubFinals . .'
    '. . . grandFinals winner'
    'lbRound1 lbRound2 lbFinals . menu';
}
